
    
    <div id="replo-section-d0a8c556-34d4-4add-a067-3af5ee6a41ee" data-runtime-version="dc6731e0-cc29-11ee-b01c-799522b8ed25" style="display:block !important;">{% include "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.0" %}{% include "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.1" %}{% include "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.2" %}{% include "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.3" %}</div>
    
{% schema %}
{
  "name": "PDP / healthy hero",
  "presets": [
    {
      "name": "PDP / healthy hero"
    }
  ]
}
{% endschema %}
    
  