
    
    <div id="replo-section-d0a8c556-34d4-4add-a067-3af5ee6a41ee" data-runtime-version="1eba7bae-a666-11ee-8da7-b63a95451d65" style="display:block !important;">{% render "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.0" %}{% render "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.1" %}{% render "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.2" %}{% render "reploChunk.d0a8c556-34d4-4add-a067-3af5ee6a41ee.3" %}</div>
    
{% schema %}
{
  "name": "PDP / healthy hero",
  "presets": [
    {
      "name": "PDP / healthy hero"
    }
  ]
}
{% endschema %}
    
  