
    
    <div id="replo-section-282c3606-a813-48ea-bb02-c18ec327fecd" data-runtime-version="afcb5038-b94d-11ee-adb2-e6f1edde6e86" style="display:block !important;">{% render "reploChunk.282c3606-a813-48ea-bb02-c18ec327fecd.0" %}{% render "reploChunk.282c3606-a813-48ea-bb02-c18ec327fecd.1" %}</div>
    
{% schema %}
{
  "name": "Heart-health Hero",
  "presets": [
    {
      "name": "Heart-health Hero"
    }
  ]
}
{% endschema %}
    
  