
    
    <div id="replo-section-73970ab9-c442-4f7c-8bbd-f21f9ad5ffd3" data-runtime-version="ad7b004e-b94d-11ee-995e-822a3f32061f" style="display:block !important;">{% render "reploChunk.73970ab9-c442-4f7c-8bbd-f21f9ad5ffd3.0" %}{% render "reploChunk.73970ab9-c442-4f7c-8bbd-f21f9ad5ffd3.1" %}</div>
    
{% schema %}
{
  "name": "Gut-health hero",
  "presets": [
    {
      "name": "Gut-health hero"
    }
  ]
}
{% endschema %}
    
  