
    
    <div id="replo-section-30e78382-8e29-443d-bf19-b7d61cf5552b" data-runtime-version="ac835cfe-b94d-11ee-bb34-4a4d1485c56d" style="display:block !important;">{% render "reploChunk.30e78382-8e29-443d-bf19-b7d61cf5552b.0" %}{% render "reploChunk.30e78382-8e29-443d-bf19-b7d61cf5552b.1" %}{% render "reploChunk.30e78382-8e29-443d-bf19-b7d61cf5552b.2" %}{% render "reploChunk.30e78382-8e29-443d-bf19-b7d61cf5552b.3" %}</div>
    
{% schema %}
{
  "name": "PDP / nourished hero",
  "presets": [
    {
      "name": "PDP / nourished hero"
    }
  ]
}
{% endschema %}
    
  