
.comparison-table {
  width: 80%;
  /* color: var(--color-foreground); */
  color: black;
}

.comparison-table-container {
  display: flex;
  justify-content: center;  
}

.comparison-table__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 100%;
}
.comparison-table__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  width: 100%;
}

.comparison-table__row--0 {
  background-color: #FFFFFFB2;
}

.comparison-table__title {
  font-weight: 800;
}

.option--row {
  font-weight: 500;
}

.comparison-table__row--1 {
  background-color: #E8F1FF;
}

.comparison-table .option {
  width: 45%;
  text-align: center;
}

.comparison-table .checkmarks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  height: 16px;
}



/* @media screen and (min-width: 750px) {
  .comparison-table {
    width: 50%;
  }
} */
