
.comparison-table {
  width: 100%;
  color: rgb(var(--color-foreground));
}

.comparison-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:  min(85vw, 1000px);
  align-items: center;
}

@media screen and (max-width: 750px) {
  .comparison-table-container {
    width: 100%;
  }
}

.comparison-table__subheading {
  text-align: center;
  font-weight: 500;
}

.comparison-table__heading {
  text-align: center;
  font-weight: 600;
}

.comparison-table__row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 5px;
  width: 100%;
}

.comparison-table__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  width: 100%;
}

.comparison-table__row--0 {
  background-color: #FFFFFFB2;
}

.comparison-table__title {
  font-weight: 800;
}

.option--row {
  font-weight: 500;
}

.comparison-table__row--1 {
  background-color: #E8F1FF;
}

.comparison-table .option {
  width: 40%;
  text-align: center;
}


.comparison-table .option-title {
  width: 50%;
  text-align: center;
}

.comparison-table__image {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 200px;
}

.comparison-table .checkmarks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  min-width: 40px;
}


.comparison-table .option--left {
  margin-right: 20px;
}

.comparison-table .option--right {
  margin-left: 20px;
}

.comparison-table .checkmark {
  height: 24px;
  width: 24px;
}

@media screen and (max-width: 749px) {
  .comparison-table .option {
    /* font-size: 11px; */
    line-height: 2rem;
  }

  .comparison-table .checkmark {
    height: 16px;
    width: 16px;
  }

  .comparison-table .option-title {
    font-size: 11px;
    line-height: 2.8rem;
  }

  .comparison-table .option-title--left {
    text-align: left;
  }

  .comparison-table .option-title--right {
    text-align: right;
  }

  .comparison-table .option--left {
    margin-right: 10px;
  }  
  .comparison-table .option--right {
    margin-left: 10px;
  }
}
