details .open-icon {
  display: flex !important;
  align-items: center;
}

details .close-icon {
  display: none !important;
}


details[open] .open-icon {
  display: none !important;
}

details[open] .close-icon {
  display: flex !important;
  align-items: center;
}

details a {
  color: inherit !important;
}

.qna-title {
  margin-bottom: 32px;
}